# Environment
NODE_ENV=development

# Database Settings (PostgreSQL container config)
DB_USER=postgres
DB_PASSWORD=your_secure_password_here
DB_NAME=task_tracker

# JWT Authentication (Backend config)
JWT_SECRET=super_secrect_jwt_keysuper_secrect_jwt_keysuper_secrect_jwt_key

# Logger Settings
LOG_LEVEL=info

# Email Settings (Nodemailer config)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_email_password
EMAIL_FROM=TaskTrack <your_email@gmail.com>
